body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

h1, h2, h3, h4, ul, p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; /*vai herdar a cor do elemento pai*/
}

img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  /*Seletor de atributo. Neste caso, estamos selecionando todas as fontes (src) que contenham (símbolo $=) .jpg*/
  border-radius: 4px;
}